.input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 40%;
}
.button {
  padding: 10px 20px;
  background-color: rgb(40, 188, 97);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}
.reset {
  padding: 10px 20px;
  background-color: rgb(188, 40, 40);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.center-div {
  padding: 100px 100px;
  background-color: rgb(199, 201, 201);
  text-align: center;  
}